footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #202347;
    align-items: center;
    h3 {
        font-size: 23px;
        text-decoration: underline;
    }
}

.socials {
    font-size: 20px;
    justify-content: space-around;
    a {
        text-decoration: none;
        padding: 10px;
    }
    a:hover {
        color: #3f8cff;
    }
}