.card {
    margin: 30px;
    padding: 10px;
    /* border: 2px red solid; */
    background-color: #11193280;
    border-radius: 50px;
    display: block;
    h2 {
        font-size: 35px;
        text-decoration: underline;
        padding: 20px;
        margin: -12px -8px;
        /* border: 2px red solid; */
        /* bubble */
        background-color:  #84e4ff51;
        border-radius: 50px;
        box-shadow: -2px -3px white, 2px 3px #11193280;
        display: inline-block;
    }
    p {
        /* border: 2px red solid; */
        margin: 10px;
        padding: 15px;
        font-size: 20px;
    }
}

.darker {
    padding: 10px 35px;
    background-color: #11193280;
    border-radius: 40px;
}

.urchin {
    width: 200px;
    float: right;
    margin: 20px;
    margin-right: 5%;
    border-radius: 50%;
    border: 5px white dotted;
}

.web-img {
    
    width: 370px;
    margin: 20px;
}

/* .repos {
    display: flex;
    flex-direction: column;
} */

.contact {
    display: flex;
    flex-direction: column;
    label {
        font-size: 23px;
        padding: 10px 2px;
    }
    input {
        padding: 5px;
        font-size: 17px;
        color: #0b0b30;
    }
    textarea {
        padding: 5px;
        font-size: 17px;
        color: #0b0b30;
        height: 100px;
        font-family: Arial, Helvetica, sans-serif;
    }
    button {
        margin-top: 10px;
        font-size: 20px;
        border-radius: 30px;
        padding: 10px;
        width: 100px;
        background-color: #1d2547;
        font-family: 'Times New Roman', Times, serif;
    }
}

.error-message {
    color: #ff3452;
}