* {
    margin: 0;
    padding: 0;
    color: white;
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
    }
    header {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #263a58;
    }
    nav {
        margin: 20px;
        padding: 20px;
    }
}

body {
    background-color: rgb(80, 132, 154);
}

/* @media screen and (max-width: 555) {
    header {
        display: flex;
        flex-direction: column;
        h1 {
            width: 100%;
        }
    }
} */